# Python temporary files
__pycache__/
*.pyc

# Project temporary/output files
tmp/
output/

# Environment variables / passwords
.env
.env.*
!.env.example

# Local data
data/

# IDE/editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db.ipynb_checkpoints/
**/.ipynb_checkpoints/
